{% extends "base.html" %}

{% load static %}


{% block content %}

    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="{% static 'images/fashion_couple/slider1.jpg' %}">


      <!-- Over -->
      <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
      <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

      <div class="container text-left">
        <div class="row">
          
          <div class="col-md-8">
            <h1 class="wed_h1_title">Alojamientos</h1>
            <h3>Hoteles en Pontevedra</h3>
          </div>

        </div>
      </div>
    </div>

    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

      <!-- section -->
        <section class="wed_section_innerpage">

        <div class="container text-left">
          <!-- Item -->
          <div class="row wed_row_padding">
            <div class="col-md-offset-1 col-md-5">
              <div>
                <h3>Hotel Rúas</h3>
                <span>Rúa Sarmiento, 20<br><br></span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
                </p> 
              </div>                      
            </div>

            <div class="col-md-5">
              <img src="{% static 'images/buildings/hotel.jpg' %}" class="fullwidth" alt="">
            </div>
          </div>
          <!-- Row End -->

          <!-- Item -->
          <div class="row wed_row_padding">
            <div class="col-md-offset-1 col-md-5">
              <div>
                <h3>Hotel Galicia Palace</h3>
                <span>Avenue Paducah 1285 7th street<br><br></span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
                </p> 
              </div>                      
            </div>

            <div class="col-md-5 no-padding">
              <img src="{% static 'images/galicia-palace.jpg' %}" class="fullwidth" alt="">
            </div>
          </div>
          <!-- Row End -->

          <!-- Item -->
          <div class="row wed_row_padding">
            <div class="col-md-offset-1 col-md-5">
              <div>
                <h3>Hotel Rías Baixas</h3>
                <span>Avenue Paducah 1285 7th street<br><br></span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
                </p> 
              </div>                      
            </div>

            <div class="col-md-5">
              <img src="{% static 'images/buildings/restaurant.jpg' %}" class="fullwidth" alt="">
            </div>
          </div>
          <!-- Row End -->

          <!-- Item -->
          <div class="row wed_row_padding">
            <div class="col-md-offset-1 col-md-5">
              <div>
                <h3>Parador de Pontevedra</h3>
                <span>Avenue Paducah 1285 7th street<br><br></span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin
                </p>
              </div>
            </div>

            <div class="col-md-5">
              <img src="{% static 'images/buildings/restaurant.jpg' %}" class="fullwidth" alt="">
            </div>
          </div>
          <!-- Row End -->

          </div>
          <!-- container end -->


        </section>
        <!-- section end -->

    </section>
    <!-- section end -->
  

{% endblock %}