{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- Slider -->
    <div class="wed_slider wed_image_bck wed_fixed wed_wht_txt wed_slider_dandelions"
         data-stellar-background-ratio="0.2" data-image="{% static 'images/touza2.jpg' %}">


        <!-- over -->
        <div class="wed_over" data-color="#000" data-opacity="0.2"></div>

        <div class="container">

            <!-- Slider Texts -->
            <div class="wed_slide_txt wed_slide_right_middle text-center" data-0="opacity:1;"
                 data--400-bottom="opacity:0;">
                <img src="{% static 'images/save_new4.png' %}" height="450" alt="">
                <h4>22.08.2020</h4>
                <h3>Euge & Beni</h3>
            </div>
            <!-- Slider Texts End -->

        </div>
        <!-- container end -->

    </div>
    <!-- Slider End -->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

        <!-- BORDER -->
        <div class="wed_slider_border">


        <!-- start story-section -->
        <section class="story-section section-padding p-t-0">
            <div class="container">
                <div class="row wed_middle_titles text-center">
                    <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 mb-5">
                            <h2>Un largo camino</h2>
                            <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-10 col-lg-offset-1">
                        <div class="story-block">
                            <ul>
                                <li>
                                    <div class="details">
                                        <h3>First meet</h3>
                                        <span class="date">25 Dec 2018</span>
                                        <p>Luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                    </div>
                                    <div class="img-holder">
                                        <img src="{% static 'images/people/friend_1.jpg' %}" alt>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-holder">
                                        <img src="{% static 'images/roma.jpg' %}" alt>
                                    </div>
                                    <div class="details">
                                        <h3>First date</h3>
                                        <span class="date">25 Dec 2018</span>
                                        <p>Luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="details">
                                        <h3>Proposal</h3>
                                        <span class="date">25 Dec 2018</span>
                                        <p>Luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                    </div>
                                    <div class="img-holder">
                                        <img src="{% static 'images/people/friend_3.jpg' %}" alt>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-holder">
                                        <img src="{% static 'images/people/friend_4.jpg' %}" alt>
                                    </div>
                                    <div class="details">
                                        <h3>Engagement</h3>
                                        <span class="date">25 Dec 2018</span>
                                        <p>Luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end story-section -->
            <!-- Section end -->
        </div>
        <!-- BORDER END -->

        <!-- White border -->
        <div class="wed_white_inner_border">
            <!-- section -->
            <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed" data-stellar-background-ratio="-0.2"
                     data-image="{% static 'images/fashion_couple/lisboa.jpg' %}">
                <!-- Over -->
                <div class="wed_over" data-color="#a67ddc" data-opacity="0.9"></div>

                <div class="container">
                    <div class="row wed_auto_height wed_middle_titles">
                        <div class="col-md-12 wed_image_bck wed_fixed text-center">
                            <h2>Nos vemos en Galicia!!</h2>
                        </div>
                        <!-- col end -->
                    </div>
                    <!-- row end -->
                    <span class="wed_countdown" data-year="2020" data-month="08" data-day="20"></span>
                </div>
                <!-- container end -->

            </section>
            <!-- section end -->
        </div>
        <!-- White border end-->


        <!-- section -->
        <section class="wed_section_outter wed_border">
            <div class="container">
                <div class="row wed_auto_height wed_middle_titles">
                    <div class="col-md-12 wed_image_bck wed_fixed text-center">
                        <h2> ¿Te lo vas a perder?</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante
                            quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor
                            fermentum, tincidunt metus. Etiam ut ultrices </p>
                        <a href="confirmacion" class="btn btn_new">Confirmación</a>
                    </div>
                    <!-- col end -->

                </div>
                <!-- row end -->

            </div>
            <!-- container end -->

        </section>
        <!-- section end -->

        <!-- White border -->
        <div class="wed_white_inner_border">
            <!-- section -->
            <section id="where" class="wed_section_inner">
                <div class="container-full">

                    <div class="row text-center">

                        <!-- Item -->
                        <div class="col-md-4 wed_nopadding">
                            <div class="wed_wrapper">
                                <img src="{% static 'images/touza.jpg' %}" class="wed_fullwidth" alt="">
                                <a href="ubicacion" class="btn btn_new btn_popup">Ubicación</a>
                            </div>
                            <div class="wed_pad_txt">
                                <h3><a href="ubicacion">Ubicación</a></h3>
                                <span>Rúa dos Pazos, 119, 36360 Nigrán, Pontevedra<br><br></span>
                                <p>
                                    Tanto la ceremonia civil como el aperitivo y la cena que se servirán a continuación tendrán lugar
                                en O Pazo da Touza, construcción del siglo XVI que format parte del patrimonio arquitectónico gallego.
                                Se encuentra ubicado en el ayuntamiento de Nigrán.

                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-md-4 wed_nopadding">
                            <div class="wed_wrapper">
                                <img src="{% static 'images/pontevedra.jpg' %}" class="wed_fullwidth" alt="">
                                <a href="alojamientos" class="btn btn_new btn_popup">Alojamiento</a>
                            </div>
                            <div class="wed_pad_txt">
                                <h3><a href="alojamientos">Alojamiento</a></h3>
                                <span>Pontevedra<br><br></span>
                                <p>
                                    Ubicada a escasos 50 km del Pazo da Touza, Pontevedra es el sitio idoneo para hospedarse.
                                El servicio de autobuses conectara el centro de la ciudad con el Pazo de manera regular.
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-md-4 wed_nopadding">
                            <div class="wed_wrapper">
                                <img src="{% static 'images/road_trip.jpg' %}" class="wed_fullwidth" alt="">
                                <a href="organizacion" class="btn btn_new btn_popup">Organízate</a>
                            </div>
                            <div class="wed_pad_txt">
                                <h3><a href="organizacion">Cómo organizarte</a></h3>
                                <p>
                                    Aquí encontrarás información sobre cómo llegar a Galicia y cómo desplazarte una vez estés aquí.
                            </div>

                        </div>
                    </div>
                    <!-- Row End -->
                </div>
                <!-- container end -->
            </section>
            <!-- section end -->
        </div>
        <!-- Border End -->



        <!-- White border end -->
    </section>


{% endblock %}