{% extends "base.html" %}


{% load static %}

{% block content %}

    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt"
         data-stellar-background-ratio="-0.6" data-image="{% static 'images/cordoba.jpg' %}">


        <!-- Over -->
        <div class="wed_over" data-color="#8630fc" data-opacity="0.8"></div>

        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">
                    <h1 class="wed_h1_title">Manicura</h1>
                </div>

            </div>
        </div>
    </div>

    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

        <section class="wed_section_inner">
            <div class="container">
                <div class="row">
                    <p>Nail bar: Calle Marquesa 2, esquina Michelena, 36003 Pontevedra, 986 10 15 54 </p>
                    <p> Oh my nails: Calle Cobián Roffignac, 3, 36002 Pontevedra. 986 846 289</p>
                    <p> Peluquería Marga Calviño: Calle de Andrés Mellado, 17, 36001 Pontevedra. 986 846 247.
                    </p> Peluquería Marga Calviño: Calle Palamios, 15, 36001 Pontevedra. 986 844 748</p>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </section>
        <!-- section -->

    </section>
    <!-- section end -->



{% endblock %}