{% extends "base.html" %}

{% load static %}


{% block content %}

    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt"
         data-stellar-background-ratio="0.2" data-image="{% static 'images/headers/lisboa2.jpg' %}">


        <!-- Over -->
        <div class="wed_over" data-color="#8630fc" data-opacity="0.7"></div>
        <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">
                    <h1 class="wed_h1_title">Algunos consejos</h1>
                </div>


            </div>
        </div>
    </div>

    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

        <!-- section -->
        <section class="wed_section_innerpage">

            <div class="container text-left">
                <ul>
                    <li>
                        La boda se celebra en el Pazo da Touza.
                    </li>
                    <li>
                        Lo más fácil es volar a Vigo. Otras opciones son Santiago y Oporto. O si te gustan los
                    roadtrips, disfrutar del paisaje en coche.
                    </li>
                    <li>
                        Un taxi del aeropuerto de Vigo a Pontevedra cuesta alrededor de 40 Euros. También hay opción de algún autobús desde el aeropuerto o tren desde el centro de Vigo.
                    Una vez en Pontevedra, ya no necesitarás transporte.
                    </li>
                    <li>
                        Te recomendamos dormir en Pontevedra, pues es donde se celebrará la preboda y desde donde saldrán los autobuses con dirección al pazo el día de la boda.
                    El regreso también será desde el pazo al centro de la ciudad.
                    </li>
                    <li>
                        ¡Y si te animas, puedes montarte unas mini-vacaciones en Galicia aprovechando el viaje!
                    </li>
                </ul>
            </div>
        </section>
    </section>

{% endblock %}