{% extends "base.html" %}

{% load static %}


{% block content %}

    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt"
         data-stellar-background-ratio="0.2" data-image="{% static 'images/lisboa.jpg' %}">


        <!-- Over -->
        <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
        <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">
                    <h1 class="wed_h1_title">Algunos consejos</h1>
                </div>


            </div>
        </div>
    </div>

    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

        <!-- section -->
        <section class="wed_section_innerpage">

            <div class="container text-left">
                <div class="row">
                    1. La boda se celebra en el Pazo de Cea.
                </div>
                <div class="row">

                    2. Lo más fácil es volar a Vigo. Otras opciones son Santiago y Oporto. O si te gustan los
                    roadtrips,disfrutar del paisaje en coche.
                </div>
                <div class="row">

                    3. Te recomendamos dormir en Baiona y alrededores.
                </div>
                <div class="row">

                    4. Un taxi del aeropuerto a Baiona/alrededores cuesta 40 Euros. Una vez ahí ya no necesitarás
                    transporte.
                </div>
                <div class="row">

                    5. De Baiona al Pazo de Cea hay 15 minutos y de Vigo al Pazo hay 25 minutos aproximadamente.
                </div>
                <div class="row">

                    6. Habrá buses desde Vigo y alrededores de Baiona que te llevarán al Pazo de Cea. Si quieres llevar
                    tu coche no hay problema, hay aparcamiento en el pazo.
                </div>
                Si te animas, puedes montarte unas mini-vacaciones en Galicia aprovechando el viaje!!

            </div>
        </section>
    </section>

{% endblock %}