{% extends "base.html" %}


{% load static %}

{% block content %}

    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt"
         data-stellar-background-ratio="-0.6" data-image="{% static 'images/headers/cordoba.jpg' %}">


        <!-- Over -->
        <div class="wed_over" data-color="#8630fc" data-opacity="0.4"></div>

        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">
                    <h1 class="wed_h1_title">Peluquerías</h1>
                </div>

            </div>
        </div>
    </div>

    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

        <section class="wed_section_inner">
            <div class="container">
                <div class="row">
                    <p>Peluquería Victoria: Rúa de Benito Corbal, 10, 36001 Pontevedra. 986 12 53 35 </p>
                    <p> Peluquería Carlos Pons: Rúa de Benito Corbal, 10, 36001 Pontevedra. 986 12 53 35</p>
                    <p> Peluquería Acosta: Rúa Joaquín Costa, 24, 36001 Pontevedra,  986 84 76 09</p>
                    <p> Peluquería Victor Moledo: Praza Augusto García Sánchez, 16, A, 36003 Pontevedra. 986 10 20 79</p>
                    <p> Peluquería Verónica Puertas: Praza 8 de marzo, 2, 36003 Pontevedra, 986 17 79 47</p>
                    <p> Peluquería Marga Calviño: Calle de Andrés Mellado, 17, 36001 Pontevedra. 986 846 247.
                    </p> Peluquería Marga Calviño: Calle Palamios, 15, 36001 Pontevedra. 986 844 748</p>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </section>
        <!-- section -->

    </section>
    <!-- section end -->



{% endblock %}