{% extends "base.html" %}


{% load static %}

{% block content %}

    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt"
         data-stellar-background-ratio="0.2" data-image="{% static 'images/headers/newyork.jpg' %}">


        <!-- Over -->
        <div class="wed_over" data-color="#8630fc" data-opacity="0.4"></div>
        <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">
                    <h1 class="wed_h1_title">Ubicación</h1>
                    <h3>Pazo da Touza</h3>
                </div>

            </div>
        </div>
    </div>

    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

        <section class="wed_section_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 wed_event_hours">
                        <h3>Hoja de ruta</h3>
                        <i>Ceremonia</i>
                        <b>18:00</b><br>
                        <i>Aperitivos</i>
                        <b>A continuación</b><br>
                        <i>Cena</i>
                        <b>Sobre las 21.00</b><br>
                        <i>Fiesta</i>
                        <b>00.00</b><br>
                    </div>
                    <div class="col-md-8 hidden-sm hidden-xs mt-5 schedule_image">
                        <img src="{% static 'images/touza3.jpg' %}" alt="">
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </section>
        <!-- section -->
        <section class="wed_section_innerpage">
            <div class="containter">
                <div class="row wed_inside_map">
                    <div class="col-md-12">

                        <!-- over -->

                        <!-- map -->
                        <div id="map" class="wed_map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.279347052685!2d-8.776163384176527!3d42.14430867920191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd258b8c4c237e45%3A0xced2230be29fc772!2sPazo%20Da%20Touza!5e0!3m2!1ses!2ses!4v1580141465319!5m2!1ses!2ses"
                                    width="600" height="450" frameborder="0" style="border:0;"
                                    allowfullscreen=""></iframe>
                        </div>
                        <!-- map end -->

                    </div>
                </div>
            </div>
            <!-- container end -->
            <div class="wed_white_inner_border">

                <div class="container-full">

                    <div class="row text-center">

                        <!-- Item -->
                        <div class="col-md-4 wed_nopadding">
                            <img src="{% static 'images/touza4.jpg' %}" class="wed_fullwidth" alt="">
                            <div class="wed_pad_txt">
                                <h3>Ceremonia Civil</h3>
                                <span>Pazo da Touza<br><br></span>
                                <p>
                                    Tendrá lugar en el Pazo da Touza y comenzará a las 6 de la tarde. Habrá un servicio
                                de autobuses que os llevará directamente desde Pontevedra  a la ceremonia. Si deseas llevar tu propio coche
                                dispondrás de parking privado dentro del pazo.
                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-md-4 wed_nopadding">
                            <img src="{% static 'images/touza5.jpg' %}" class="wed_fullwidth" alt="">
                            <div class="wed_pad_txt">
                                <h3>Aperitivos y cena</h3>
                                <span>Pazo da Touza<br><br></span>
                                <p>
                                    A continuación se servirá un cóctel en los jardines y una cena en el salón interior.
                                    No olvides contarnos si tienes alguna alergia o intolerancia.
                            </div>
                        </div>

                         <!-- Item -->
                        <div class="col-md-4 wed_nopadding">
                            <img src="{% static 'images/fiesta.jpg' %}" class="wed_fullwidth" alt="">
                            <div class="wed_pad_txt">
                                <h3>Baile</h3>
                                <span>Pazo da Touza<br><br></span>
                                <p>
                                    Una vez finalizada la cena, tendrá lugar el baile y la barra libre. Habrá un servicio
                                de autobuses que conectará el pazo con Pontevedra.
                            </div>

                        </div>

                    </div>
                    <!-- Row End -->
                </div>
            </div>
            <!-- container end -->
        </section>
        <!-- section end -->

    </section>
    <!-- section end -->



{% endblock %}